services:
  nginx-dev:
    image: nginx:latest
    container_name: nginx-dev
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./conf.d:/etc/nginx/conf.d:ro
      - ./logs:/var/log/nginx
      - /srv/docker:/srv/docker:ro
    networks:
      - srv-network

  php-dev:
    image: php:8.2-fpm
    container_name: php-dev
    restart: unless-stopped
    volumes:
      - /srv/docker:/srv/docker
    networks:
      - srv-network

  livereload:
    image: node:alpine
    container_name: livereload
    restart: unless-stopped
    ports:
      - "35729:35729"
    volumes:
      - /srv/docker:/data:ro
    networks:
      - srv-network
    command: sh -c "npm install -g livereload && livereload /data -p 35729 -d"

networks:
  srv-network:
    external: true